<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="logDirectory" value="${basedir}/logs/${cached:cached=true:inner=${date:format=yyyy-MM-dd_HH-mm-ss}}"/>
  <targets>
    <target xsi:type="File" 
            name="systemActivities" 
            fileName="${logDirectory}SystemActivities.txt"
            archiveAboveSize="1000000"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="systemActivities" />
  </rules>
</nlog>
